name: Build and Push Docker image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t pokenea-api .

    - name: Log in to Docker Hub (Persona 1)
      run: echo "${{ secrets.DOCKER_PASSWORD_1 }}" | docker login -u "${{ secrets.DOCKER_USERNAME_1 }}" --password-stdin

    - name: Push to Docker Hub (Persona 1)
      run: |
        docker tag pokenea-api docker.io/${{ secrets.DOCKER_USERNAME_1 }}/pokenea-api
        docker push ${{ secrets.DOCKER_USERNAME_1 }}/pokenea-api

    - name: Log in to Docker Hub (Persona 2)
      run: echo "${{ secrets.DOCKER_PASSWORD_2 }}" | docker login -u "${{ secrets.DOCKER_USERNAME_2 }}" --password-stdin

    - name: Push to Docker Hub (Persona 2)
      run: |
        docker tag pokenea-api docker.io/${{ secrets.DOCKER_USERNAME_2 }}/pokenea-api
        docker push ${{ secrets.DOCKER_USERNAME_2 }}/pokenea-api